baseurl: ''
exclude: ['README.md']
permalink: pretty
title: 'Arcus - Azure development in a breeze.'

google_analytics_id: null
homepage:
  show_call_box: false
logo:
  mobile: "images/logo/logo-rectangle.png"
  desktop: "images/logo/logo-rectangle.png"
  desktop_height: "36px"
footer:
  copyright_text: 'We are using an open-source Jekyll theme by <a class="zerostatic" href="https://www.zerostatic.io">www.zerostatic.io</a>'

seo:
  meta_og_title: "Arcus"
  meta_og_type: "website"
  meta_og_description: "Azure development in a breeze."

collections:
  components:
    output: true
    permalink: /components/:path/
  services:
    output: true
    permalink: /services/:path/

defaults:
  - scope:
      type: components
    values:
      layout: components
      bodyClass: page-components-single
  - scope:
      type: services
    values:
      layout: service
      bodyClass: page-services-single
  - scope:
      path: 'images'
    values:
      image: true

sass:
  style: compact # possible values: nested expanded compact compressed

plugins:
  - jekyll-environment-variables
